.wrapper {
    background-color: var(--background-music-list);
    padding: 0 20px;
    height: 100vh;
    margin-bottom: 120px;
}

.music-list {
    font-size: 1.8rem;
    color: var(--color-text);
    text-align: center;
    padding: 20px 0;

    &-search-input {
        font-size: 1.1rem;
        padding: 10px 20px;
        margin: 0 auto;
        width: 100%;
        outline: none;
        border: none;
        color: var(--color-text);
        background-color: var(--background-music-player);
    }
}

@media (min-width: 740px) {
    .wrapper {
        margin-bottom: 0;
    }
}
