.wrapper {
    background-color: var(--background-music-player);
    // height: calc(100vh - 115px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;
}

.header {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin: 0 30px 30px 30px;
    padding-top: 30px;
}

.header-volume {
    display: flex;
}

.volume-control {
    width: 100px;

    &:hover ~ .volume {
        cursor: pointer;
        display: block;
    }
}

.volume-icon {
    width: 50px;
    height: 50px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-background-icon);
}

.circle {
    border: 2px solid var(--color-background-icon);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background-icon);
    color: var(--color-icon);
}

.volume {
    display: none;
    accent-color: var(--color-text);

    &:hover {
        display: block;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 195px);
}

.music-name {
    font-size: 1.65rem;
    color: var(--color-text);
    font-weight: 600;
    line-height: 1.69rem;
}
.singer {
    margin-bottom: 30px;
    font-size: 1.1rem;
}

.music-avatar {
    width: 80vw;
    height: 80vw;
    border-radius: 50%;
    border: 1px solid #3d3d3d;
}

.avatar {
    position: relative;
    overflow: hidden;
}
.music-avatar-circle {
    width: 50px;
    height: 50px;
    border: 2px solid #3d3d3d;
    border-radius: 50%;
    background-color: var(--background-music-player);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timer {
    padding: 0 20px;

    &-input {
        width: 100%;
        margin-top: 20px;

        accent-color: var(--color-range-input);
    }
}

.time {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.time-current,
.time-end,
.song {
    color: var(--color-text);
}

.time-current,
.time-end {
    width: 80px;
}

.time-current {
    text-align: left;
}
.time-end {
    text-align: right;
}

.control-btn,
.control-btn button {
    margin: 0 10px 10px 10px; //margin-top: 10px;
    font-size: 2rem;
    color: var(--color-btn);
    display: flex;
    justify-content: space-around;
}

.control-btn button {
    margin-top: 0;
    border: none;
    outline: none;
    background-color: transparent;
}

.control {
    position: fixed;
    bottom: 0;
    background-color: var(--background-music-player);
    width: 100%;
    z-index: 99;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.rotate {
    animation: rotation 6s infinite linear;
}

@media (min-width: 740px) {
    .music-avatar {
        width: 400px;
        height: 400px;
    }

    .music-name {
        font-size: 2rem;
        line-height: 2rem;
    }

    .singer {
        font-size: 1.15rem;
    }

    .timer {
        padding: 0 40px;
    }

    .content {
        margin-bottom: 15px;
    }

    .control {
        position: relative;
    }

    .song {
        display: none;
    }
}

/* Input Track */
input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
    height: 4px;
}

input[type='range']::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
    height: 4px;
}

input[type='range']::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
    height: 4px;
}

/* Input Thumb */
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    cursor: ew-resize;
    margin-top: -5px;
}

input[type='range']::-moz-range-thumb {
    -webkit-appearance: none;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    cursor: ew-resize;
    margin-top: -5px;
}

input[type='range']::-ms-thumb {
    -webkit-appearance: none;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    cursor: ew-resize;
    margin-top: -5px;
}
