.wrapper {
    background-color: var(--background-music-player);
}

.header {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.header-volume {
    display: flex;
}

.volume-control {
    width: 100px;

    &:hover ~ .volume {
        cursor: pointer;
        display: block;
    }
}

.volume-icon {
    width: 50px;
    height: 50px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-background-icon);
}

.circle {
    border: 2px solid var(--color-background-icon);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background-icon);
    color: #fff;
}

.volume {
    display: none;
    accent-color: var(--color-text);

    &:hover {
        display: block;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music-name {
    font-size: 2rem;
    color: var(--color-text);
    font-weight: 500;
    margin-bottom: 30px;
}

.music-avatar {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 1px solid #3d3d3d;
}

.avatar {
    position: relative;
}
.music-avatar-circle {
    width: 50px;
    height: 50px;
    border: 2px solid #3d3d3d;
    border-radius: 50%;
    background-color: var(--background-music-player);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timer {
    padding: 0 20px;

    &-input {
        width: 100%;
        margin-top: 50px;

        accent-color: var(--color-text);
    }
}

.time {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.control-btn,
.control-btn button {
    margin: 40px 0 20px 0; //margin-top: 10px;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
}

.control-btn button {
    margin-top: 0;
    border: none;
    outline: none;
    background-color: transparent;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.rotate {
    animation: rotation 6s infinite linear;
}
