.wrapper {
    overflow-y: scroll;
    height: calc(100vh - 150px);
    margin-top: 20px;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.alert {
    color: var(--color-text);
}
.music {
    display: flex;
    padding: 10px 0;
    position: relative;

    &:hover {
        background-color: var(--background-music-hover);
    }

    &-id {
        color: var(--color-text);
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
    }

    &-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-avatar img {
        width: var(--music-height);
        height: var(--music-height);
    }

    &-description {
        color: var(--color-text);
        margin-left: 10px;
        line-height: 25px;

        &-title {
            margin-top: 8px;
            font-size: 1.3rem;
        }

        &-singer {
            font-size: 1rem;
        }
    }
}

.music::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: var(--color-line);
    position: absolute;
    bottom: 0;
}
